/*! rtl:begin:ignore */
.sc-navigation-widget {
    direction: ltr;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;

    &__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    &__item {
        position: relative;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        box-shadow: none;
        border-radius: 50%;
        cursor: pointer;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        transition: none;
        @include themify($themes) {
            background-color: themed('ToolbarWidgetMobileBg');
        }

        &:hover {
            @include themify($themes) {
                background-color: themed('ToolbarWidgetItemHoverBg');
            }
        }
        .ic-icon {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 24px;
                height: 24px;
                stroke: none;
                @include themify($themes) {
                    fill: themed('ToolbarWidgetItemIcon');
                }
            }
        }
        &--hidden {
            display: none;
        }
        &--disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    // Shift the widget up when the historical date picker is present
    &--indent {
        bottom: 78px;
    }
}
/*! rtl:end:ignore */
